<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>[draft] {{ page.title }} - {{ site.name }}</title>
  <meta name="viewport" content="width=device-width">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
    <script src="{{ site.baseurl }}/assets/js/respond.js"></script>
  <![endif]-->
</head>
